:root {
    --darkest-blue: #03254c;
    --dark-blue: #1167b1;
    --blue: #187bcd;
    --light-blue: #2a9df4;
    --white-blue: #d0efff;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    margin: 0;
}

.about-me {
    margin: 4rem;
}

.nav-bar {
    background: var(--darkest-blue);
    border-bottom: solid var(--dark-blue) 0.30rem;
    box-sizing: border-box;
    color: var(--white);
    display: flex;
    height: 8vh;
    position: sticky;
    top: 0;
}

.nav-bar__item {
    padding: 0 0.8rem;
}

.nav-bar__item:nth-child(2) {
    margin-left: auto;
}

.welcome {
    background-color: var(--blue);
    height: 52vh;
}

.welcome > img {
    height: 200px;
    width: 200px;
}

.welcome__text {
    color: var(--white);
    margin: unset;
    padding-top: 15rem;
    text-align: center;
}

.welcome__sub-text {
    color: var(--white);
    text-align: center;
}